{% extends "childLayout.html" %}

{% block body %}
<main>
    <table class="mainTable">
        {% for genre in listGenre %}
        <tr class="rowDjn" data-name="{{genre[0]}}">
            <td class="djnCell">
                <div class="sortDetailsBtn">
                    <button type="button" class="djnSortBtn" value="{{ genre[0] }}" onclick="showItm(this, event, {{size}})">
                        <img    src="./static/img/sortImg/{{ genre[0] }}.png"
                        alt="{{ genre[0] }}" 
                        width="130" height="130"
                        title="{{ genre[0] }}">
                    </button>
                </div>
                <div class="sortDetailsP">
                    <p id="nbr{{genre[0]}}">
                        <span class="itmUsr">{{ genre[2] }}</span> / <span class="totalItm">{{ genre[1] }}</span>
                    </p>
                </div>
            </td>
        </tr>
        <tr class="rowDjnDetails"  id="{{ genre[0] }}"></tr>
        {% endfor %}
    </table>
</main>
<script type="text/javascript">
    const active = new Map();
</script>
<script type="module" src="./static/js/sortSearch.js"></script>
<script type="module" src="./static/js/initFunc.js"></script>
<script src="./static/js/showItm.js"></script>
<script src="./static/js/activateItem.js"></script>
{% endblock %}