{% extends "childLayout.html" %}

{% block body %}
<main class="containerGrid">
    <form action="/itemSet" method="POST">
        <div class="btnSet">
            <button type="submit" name="setOne">Set all item to 'Active'</button>
            <button type="submit" name="setZero">Set all item to 'Inactive'</button>
        </div>
    </form>
    <form action="/tableSearch" method="POST">
        <div class='imgGrid'>
    {% for item in listItems %}
            <button type="button" {% if item[6] == 0 %}class="btnImg"{% else %}class="btnImgActive"{% endif %} id="btn{{ item[4] }}" value="{{item[4]}}" name="{{item[0]}}" onclick="activateItem(this, event, {{size}})">
                <img id="itemImage{{ item[4] }}"
                        src="{{ item[5] }}"
                        alt="{{ item[0] }}" 
                        width="55" height="55"
                        title="{{ item[0] }}"
                        loading="lazy">
            </button>
    {% endfor %}
        </div>
    </form>
</main>
    <script type="text/javascript">
        const size = parseInt({{size}});
        let totalItem = parseInt({{totalItem}});
    </script>
    <script type="module" src="./static/js/search.js"></script>
    <script type="module" src="./static/js/initFunc.js"></script>
    <script type="text/javascript" src="./static/js/activateItem.js"></script>
{% endblock %}