{% extends "childLayout.html" %}

{% block body %}
<main class="containerGrid">
    <form action="/itemSet" method="POST">
        <div class="btnSet">
            <button type="submit" name="setOne">Set all item to 'Active'</button>
            <button type="submit" name="setZero">Set all item to 'Inactive'</button>
        </div>
    </form>
    <form action="/tableSearch" method="POST">
        <div class='imgGrid'>
    {% for item in listItems %}
            <button type="button" class="btnImg" id="btn{{ item['id'] }}" value="item{{item['id']}}" name="{{item['name']}}" onclick="activateItem(this, event, {{size}})">
                <img id="itemImage{{ item['id'] }}"
                        src="./static/img/itemImg/{{ item['name'] }}.png"
                        alt="{{ item['name'] }}" 
                        width="55" height="55"
                        title="{{ item['name'] }}"
                        loading="lazy">
            </button>
    {% endfor %}
        </div>
    </form>
</main>
    <script type="text/javascript">

        function initItm() {
            let listItems = {{listItems | tojson}};
            for (i=0; i < listItems.length; i++) {
                if (listItems[i]['state'] == 1) {
                    let elem = document.getElementById("btn" + listItems[i]['id']);
                    elem.classList.replace('btnImg', 'btnImgActive');
                }
            }
        }
        initItm();

        const size = parseInt({{size}});
        let totalItem = parseInt({{totalItem}});
    </script>
    <script type="module" src="./static/js/search.js"></script>
    <script type="module" src="./static/js/initFunc.js"></script>
    <script type="text/javascript" src="./static/js/activateItem.js"></script>
{% endblock %}